<div class="uk-section uk-section-xsmall uk-section-default uk-margin-small-bottom uk-margin-remove-top uk-padding-remove-bottom uk-padding-remove-top">
  {{> header }}
</div>

<div class="uk-section uk-section-xsmall uk-section-muted">
  <div class="uk-container">

    <div class="uk-grid-small uk-grid-match uk-child-width-1-3@s uk-flex-center" uk-grid>

      {{#each links }}

      {{> card }}

      {{/each}}

    </div>
  </div>
</div>